<div class="shadow album-item col">
    <div class="album-item-content">
        <div class="row">
            <a href="#!/albums/{{album.id}}"><img class="album-item-pic" src="{{album.cover_small}}" alt="Album_pic"></a>
            <div class="offset-1">
                <h5>{{album.name}}</h5>
                <p>Artist : <a href="#!/artist/{{album.artist_id}}">{{album.name}}</a></p>
                <div>Genre : 
                    <a class="album-item-genre" ng-repeat="genre in album.genre" href="#!/genre/{{genre.id}}">{{genre.name}}</a>
                </div>
                <p>Popularity : {{album.popularity}}</p>
                <p>Release : {{album.release_date}}</p>
            </div>
        </div>
        <div class="album-track-content">
            <div class="row album-track-item" ng-repeat="track in album.tracks">
                <svg class="album-track-play" viewBox="0 0 200 200" alt="Play_song_button" ng-click="musicPlayer('play', track.mp3)">
                    <circle cx="100" cy="100" r="90" fill="none" stroke-width="15" stroke="#000"/>
                    <polygon points="70, 55 70, 145 145, 100" fill="#000"/>
                </svg>
                <p class="album-track-duration">{{track.duration}}</p>
                <a class="album-track-title">{{track.name}}</a>
                
                <div class="music-player">
                    <button ng-click="musicPlayer('continue')">continue</button>
                    <button ng-click="musicPlayer('pause')">pause</button>
                    <button ng-click="musicPlayer('stop')">stop</button>
                </div>
            </div>
        </div>
    </div>
</div>