<div class="shadow artist-item col">
    <div class="artist-item-content">
        <div class="row">
            <p><img class="artist-item-pic" src="{{artist.photo}}" alt="Album_pic"></p>
            <div class="offset-1">
                <h5>{{artist.name}}</h5>
                <div>
                    <h6>Description :</h6>
                    <p>{{artist.description}}</p>
                </div>
            </div>
        </div>
        <div class="row artist-bio">
            <h6>Bio :</h6>
            <p>{{artist.bio}}</p>
        </div>
        <div class="row artist-album" ng-repeat="album in artist.albums">
            <a class="col-2" href="#!/album/{{album.id}}"><img class="album-item-pic" src="{{album.cover_small}}" alt="Album_pic"></a>
            <div class="col-8 offset-1">
                <h5>{{album.name}}</h5>
                <p>Popularity : {{album.popularity}}</p>
                <p>Release : {{album.release_date}}</p>
                <p>Tracks : {{album.tracks_number}}</p>
            </div>
        </div>
    </div>
</div>