<div id="random-album-content" class="row">

    <div class="shadow random-album-item col-md-5" ng-repeat="album in random">
        <div class="random-album-item-content">
            <div class="row">
                <a href="#!/album/{{album.id}}"><img class="random-album-item-pic" src="{{album.cover_small}}" alt="Album_pic"></a>
                <div class="offset-1">
                    <h5>{{album.name}}</h5>
                    <a href="#!/artist/{{album.artist_id}}">Artist</a>
                    <p>Popularity : {{album.popularity}}</p>
                    <p>Tracks : {{album.tracks_number}}</p>
                    <p>Release : {{album.release_date}}</p>
                </div>
            </div>
        </div>
    </div>



</div>